$default:#232323;
$purpul:#78258D;
$grey:#333333;
$white:#FFFFFF;


%lato-700 {
	font-family: 'Lato-Bold',
	sans-serif;
	font-weight: 700;
}

%montserrat-700 {
	font-family: 'Montserrat-Bold',
		sans-serif;
	font-weight: 700;
}

%montserrat-500 {
	font-family: 'Montserrat-Medium',
		sans-serif;
	font-weight: 500;
}

%gilroy-900 {
	font-family: 'Gilroy-Black',
		sans-serif;
	font-weight: 900;
}

%gilroy-700 {
	font-family: 'Gilroy-Bold',
		sans-serif;
	font-weight: 700;
}

%gilroy-500 {
	font-family: 'Gilroy-Medium',
		sans-serif;
	font-weight: 500;
}

%gilroy-400 {
	font-family: 'Gilroy-Regular',
		sans-serif;
	font-weight: 400;
}

%gilroy-300 {
	font-family: 'Gilroy-Light',
		sans-serif;
	font-weight: 300;
}